<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>Partijen &amp; Zetels</h2>
      <cc-party-table [parties]="parties"></cc-party-table>
    </div>
    <div class="col-2">
      <h2>Uitsluitingen</h2>
      <cc-party-list [parties]="exclusion" *ngFor="let exclusion of exclusions"></cc-party-list>

      <h2>Verplichte Paren</h2>
      <cc-party-list [parties]="pair" *ngFor="let pair of pairs"></cc-party-list>
    </div>
    <div class="col-7">
      <h2>Coalities</h2>
      <p>
        <label>
          <input type="checkbox" [(ngModel)]="segmented" (ngModelChange)="calculateCoalitions()">
          Meerderheid aan Vlaamse &amp; Waalse kant noodzakelijk
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" [(ngModel)]="minimal" (ngModelChange)="calculateCoalitions()">
          Enkel minimale coalities tonen
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" [(ngModel)]="exclusionsActive" (ngModelChange)="calculateCoalitions()">
          Rekening houden met uitsluitingen
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" [(ngModel)]="pairsActive" (ngModelChange)="calculateCoalitions()">
          Rekening houden met paren
        </label>
      </p>
      <p *ngIf="coalitions">Er zijn <b>{{coalitions.length}}</b> mogelijke coalities!</p>
      <cc-coalition [coalition]="coalition" *ngFor="let coalition of coalitions"></cc-coalition>
    </div>
  </div>
</div>
