<div class="row border-bottom" *ngIf="coalition">
  <div class="col-7">
    <ng-container *ngFor="let party of coalition.majority; let index = index">
      <span *ngIf="index > 0"> + </span>
      <span>{{party.name}}</span>
    </ng-container>
  </div>
  <div class="col-3">
    <div class="coalition-container">
      <ng-container *ngFor="let party of coalition.majority">
        <div class="coalition-bar"
             [style.width.%]="100 * party.seats / totalSeats"
             [style.background-color]="party.color"></div>
      </ng-container>
    </div>
  </div>
  <div class="col-2 text-right">
    {{majoritySeats}} / {{totalSeats}}
  </div>
</div>
