.coalition-container {
  display: inline-block;
  position: relative;
  background-color: #e5e5e5;
  border: 1px solid #c4c4c4;
  height: 14px;
  width: 100%;
}

.coalition-bar {
  display: inline-block;
  float: left;
  width: 0;
  height: 12px;
  margin: 0;
  padding: 0;
}
