<div class="row" *ngIf="coalition">
  <div class="col-5 flex-vertical-center">
    <div *ngFor="let segment of ['VL','WA']">
      <ng-container *ngFor="let party of coalition.majority">
        <ng-container *ngIf="party.segment === segment">
          &bull;
          <span [style.border-bottom-color]="party.color" style="border-bottom-style: solid; border-bottom-width: 1px;">
            {{party.name}}
          </span>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="col-5 flex-vertical-center">
    <div class="coalition-container" style="">
      <ng-container *ngFor="let party of coalition.majority">
        <div class="coalition-bar"
             [style.width.%]="100 * party.seats / totalSeats"
             [style.background-color]="party.color"></div>
      </ng-container>
    </div>
  </div>
  <div class="col-2 flex-vertical-center text-right">
    {{majoritySeats}} / {{totalSeats}}
  </div>
</div>
