@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables.less';

h2 {
  font-size: 130%;
  border-bottom: 1px solid @color-border;
  padding-bottom: 8px;
  margin-bottom: 8px;
  margin-top: 16px;
}

p {
  margin: 0;
}

.narrow {
  width: 1px;
}

.color-indicator {
  display: inline-block;
  width: @size-color-indicator;
  height: @size-color-indicator;
  vertical-align: middle;
  border-radius: 0;
  box-shadow: inset 0 0 @size-inner-shadow @color-inner-shadow;
}

.flag {
  border: 1px solid @color-border;
  height: @size-color-indicator;
}

label {
  user-select: none;
}

.flex-vertical-center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}
